<h2>Create Your Profile</h2>

<form action="/users" method="POST">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="race" placeholder="status" />
    <input type="number" name="mmr" placeholder="mmr" />

    <br>
    <input type="submit" value="Create" />
</form>