<h2>Record Game</h2>

<form action="/games" method="POST">
    <input type="text" name="map" placeholder="map" />
    <input type="text" name="opponentStrat" placeholder="Opponent Build" />
    <input type="text" name="userStrat" placeholder="Your Strategy" />
    <input type="text" name="win" placeholder="Win/lose/draw" />
    <input type="hidden" name="opponentId" value="{{opponentId}}" />

    <br>
    <input type="submit" value="Create" />
</form>