<h2>Add Opponent</h2>

<form action="/opponents" method="POST">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="race" placeholder="race" />
    <input type="number" name="mmr" placeholder="mmr" />
    <input type="hidden" name="userId" value="{{userId}}" />

    <br>
    <input type="submit" value="Create" />
</form>