html {
    font-size: 20px;
    background: rgb(65, 118, 231);
    font-family: 'Staatliches', cursive;
    margin: 0 auto;
    display: block;
    width: 1000px;
}

.user {
    display: flex;
    color: white;
    background: black;
}

.user-attribute {
    margin: 45px 10px 10px 10px;
}