html {
    font-size: 40px;
    background: rgb(65, 118, 231);
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    width: 100px;
    margin: auto;
}

p{
    font-size: 30px;
}

input {
    height: 50px;
    width: 150px;
    font-size: 30px;
    text-align: center;
}

button {
    height: 45px;
    width: 225px;
    font-size: 20px;
    background: black;
    color: white;
}

h1 {
    font-size: 70px;
}
